* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: whitesmoke;
    overflow-x: hidden;
    overflow-y: hidden;
    

}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

header {

    width: 90%;
    margin: 0 auto;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px auto;
}

a {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 2.5vmin
}

ul {
    list-style: none;
    display: flex;
}

ul>li {
    margin: 15px;
}

.left h1 {
    color: whitesmoke;
    font-size: 5vmin;
    text-align: center;

}

.menu h1 {
    color: whitesmoke;
    font-size: 5vmin;
    text-align: center;

}

.search {
    display: flex;
    justify-content: center;


}

.search input {
    width: 280px;
    height: 28px;
    text-align: center;
    font-size: 2vmin;

}

.search button {
    width: 100px;
    cursor: pointer;
    font-size: 2vmin;
}

.menu {
    width: 90%;
    height: 28vw;
    margin: 93px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.left p {
    text-align: center;
    color: whitesmoke;
    font-size: 10px;

}

.left button {
    width: 20%;
    height: 30px;
    margin: 10px 200px;
    font-size: 2vmin;
    border-radius: 10px;
    background-color: rgb(244, 196, 4);
    border: 1px solid rgb(244, 196, 4);
}



.form {
    border: 2px solid rgb(241, 186, 5);
    height: 90%;
    width: 20%;
    border-width: thin;
}


.form button {
    color: white;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 40%;
    border: 1px solid rgb(5, 37, 76);
    background-color: rgb(244, 196, 4);
    border-radius: 10px;
    font-size: 2vmin;
    cursor: pointer;
}

.form button:hover {
    transform: scale(1.05);
}

.input input {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    height: 30px;
    width: 80%;
    font-size: 2.2vmin;
}

.form p {
    font-size: 2vmin;
    text-align: center;
    padding-top: 10px;
}

.signup p {
    font-size: 2vmin;
    color: rgb(255, 221, 0);
    margin-top: -15px;

}

.form .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: rgb(244, 196, 4);
    font-size: 30px;
    gap: 10px;

}

.form i:hover {
    transform: scale(1.5);
}

@media (max-width:320px) {
    body {
        
        background-size:cover;
        background-position:top;
    }

    nav {

        flex-direction: column;
    }

    .left h1 {
        font-size: 20px;
    }

    nav .search {
        width: 70%;

    }

    nav .search input {

        font-size: 10px;
    }

    nav .search button {

        font-size: 10px;
    }

    ul li {
        padding-bottom: 10px;
    }



    .menu {
        flex-direction: column;
    }

    .left h1 {
        text-align: center;
    }

    .left p {
        text-align: center;
        font-size: 8px;

    }

    .left button {

        margin-left: 145px;
        color: white;
        font-size: 8px;
    }

    .form {
        width: 200px;
        height: 400px;

    }

    .form button {
        margin: 20px auto;
        height: 30px;
    }

    .form input {
        margin-bottom: 10px
    }

    .form p {
        padding: 0;
        margin-top: 10px;
    }

    .form .signup {
        margin-top: -12px;
    }

    .form .login {
        margin-top: -0px;
    }

    .icon {
        margin-bottom: 15px;
    }

    .form i:hover {
        transform: scale(1.5);
    }
}

@media (max-width:380px) {
    body {
       
        background-position: top;
    }

    nav {
        flex-direction: column;
    }

    .left h1 {
        font-size: 20px;
    }

    nav .search {
        width: 60%;
    }



    ul li {
        padding-bottom: 10px;
    }



    .menu {
        flex-direction: column;
    }

    .left h1 {
        text-align: center;
    }

    .left p {
        text-align: center;
        font-size: 9px;
    }

    .left button {

        margin-left: 145px;
        color: white;
        font-size: 8px;
    }

    .form {
        width: 200px;
        height: 400px;

    }

    .form button {
        margin: 20px auto;
        height: 30px;
    }

    .form input {
        margin-bottom: 10px
    }

    .form p {
        padding: 0;
        margin-top: 10px;
    }

    .form .signup {
        margin-top: -12px;
    }

    .form .login {
        margin-top: -0px;
    }

    .icon {
        margin-bottom: 15px;
    }
    .form i:hover {
        transform: scale(1.5);
    }
}

@media (max-width:430px) {
    body {
       
        background-position: top;
    }

    nav {
        flex-direction: column;
    }

    .left h1 {
        font-size: 20px;
    }

    nav .search {
        width: 60%
    }


    ul li {
        padding-bottom: 10px;
    }



    .menu {
        flex-direction: column;
    }

    .left h1 {
        text-align: center;
    }

    .left p {
        text-align: center;
        font-size: 9px;
    }

    .left button {

        margin-left: 145px;
        color: white;
        font-size: 8px;
    }

    .form {
        width: 200px;
        height: 400px;

    }

    .form button {
        margin: 20px auto;
        height: 30px;
    }

    .form input {
        margin-bottom: 10px
    }

    .form p {
        padding: 0;
        margin-top: 10px;
    }

    .form .signup {
        margin-top: -12px;
    }

    .form .login {
        margin-top: -0px;
    }

    .icon {
        margin-bottom: 15px;
    }
    .form i:hover {
        transform: scale(1.5);
    }
}

@media (max-width:768px) {
    body {
        height:100vh;
        background-position: top;
    }

    nav {
        flex-direction: column;
    }

    .menu .left {
        margin-top: -50px;
    }

    .left h1 {
        font-size: 20px;
    }

    nav .search {
        width: 40.5%;
    }

    ul li {
        padding-bottom: 10px;
    }



    .menu {
        flex-direction: column;
    }

    .left h1 {
        text-align: center;
    }

    .left p {
        text-align: center;
        font-size: 10px;

    }

    .left button {

        margin-left: 145px;
        color: white;
        font-size: 8px;
    }

    .form {
        margin-top: 20px;
        width: 250px;
        height: 400px;


    }

    .form button {
        margin: 20px auto;
        height: 30px;
    }

    .form input {
        margin-bottom: 10px;
        width: 200px;
        font-size: 2vmin;
    }

    .form p {
        padding: 0;
        margin-top: 10px;
    }

    .form .signup {
        margin-top: -12px;
    }

    .form .login {
        margin-top: -0px;
    }

    .icon {
        margin-bottom: 15px;
    }
    .form i:hover {
        transform: scale(1.5);
    }
}
@media (max-width:430px) {
    body {
       
        background-position: top;
    }

    nav {
        flex-direction: column;
    }

    .left h1 {
        font-size: 20px;
    }

    nav .search {
        width: 60%
    }


    ul li {
        padding-bottom: 10px;
    }



    .menu {
        flex-direction: column;
    }

    .left h1 {
        text-align: center;
    }

    .left p {
        text-align: center;
        font-size: 9px;
    }

    .left button {

        margin-left: 145px;
        color: white;
        font-size: 8px;
    }

    .form {
        width: 200px;
        height: 400px;

    }

    .form button {
        margin: 20px auto;
        height: 30px;
    }

    .form input {
        margin-bottom: 10px
    }

    .form p {
        padding: 0;
        margin-top: 10px;
    }

    .form .signup {
        margin-top: -12px;
    }

    .form .login {
        margin-top: -0px;
    }

    .icon {
        margin-bottom: 15px;
    }
    .form i:hover {
        transform: scale(1.5);
    }
}

@media (max-width:1024px) {
    body {
        height:100vh;
        background-position: top;
    }

   

    .menu .left {
        margin-top: -50px;
    }

    .left h1 {
        font-size: 20px;
    }

    nav .search {
        width:30%;
    }

    ul li {
        padding-bottom: 10px;
    }



    

    .left h1 {
        text-align: center;
    }

    .left p {
        text-align: center;
        font-size: 10px;

    }

    .left button {

        margin-left: 145px;
        color: white;
        font-size: 8px;
    }

    .form {
        margin-top: 20px;
        width: 250px;
        height: 350px;


    }

    .form button {
        margin: 20px auto;
        height: 30px;
    }

    .form input {
        margin-bottom: 10px;
        width: 200px;
        font-size: 2vmin;
    }

    .form p {
        padding: 0;
        margin-top: 10px;
    }

    .form .signup {
        margin-top: -12px;
    }

    .form .login {
        margin-top: -0px;
    }

    .icon {
        margin-bottom: 15px;
    }
    .form i:hover {
        transform: scale(1.5);
    }
}
